.profile__edit-btn {
  box-sizing: border-box;
  display: inline-block;
  flex-shrink: 0;

  width: 18px;
  height: 18px;
  background-image: url(../../../images/edit-pen.svg);
  background-size: 7.5px auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  border: 1px solid #fff;
}
.profile__edit-btn:hover {
  cursor: pointer;
  opacity: .6;
}

@media screen and (min-width: 1280px) {
  .profile__edit-btn {
    right: 24px;
    width: 24px;
    height: 24px;
    bottom: 8px;
    background-size: 10px auto;
  }
}
