.cards__trash-btn {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 18px;
  height: 19px;
  background: none;
  border: none;
  background-image: url(../../../images/cards/trash-icon.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.cards__trash-btn:hover {
  cursor: pointer;
  opacity: 0.6;
}
