.profile__avatar-wrapper {
  position: relative;
  font-size: 0;
  line-height: 0;
  margin-bottom: 30px;
}

@media screen and (min-width: 1280px) {
  .profile__avatar-wrapper {
    margin-right: 30px;
  }
}
