.info-tooltip__text {
    margin: 0;
    font-size: 24px;
    font-weight: 900;
    color: #000;
    text-align: center;
}

@media (max-width: 425px) {
    .info-tooltip__text {
        font-size: 20px;
    }
}