.header__menu-btn {
    position: relative;

    width: 30px;
    height: 27px;
    background: none;
    border: none;
}

.header__menu-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    box-shadow: 0 9px 0 0 #ffffff, 0 18px 0 0 #ffffff;
}
.header__menu-btn:hover {
    cursor: pointer;
    opacity: .6;
}

@media (min-width: 768px) {
    .header__menu-btn {
        display: none;
    }
}